@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #23074d, #cc5333);
    --background: 281 99.15% 98.32%;
    --foreground: 281 8.299999999999999% 0.64%;
    --card: 281 23.60000000000001% 91.6%;
    --card-foreground: 281 8.299999999999999% 0.8%;
    --popover: 281 23.60000000000001% 91.6%;
    --popover-foreground: 281 8.299999999999999% 0.8%;
    --primary: 281 83% 16%;
    --primary-foreground: 281 1.66% 91.6%;
    --secondary: 281 4.1499999999999995% 95.8%;
    --secondary-foreground: 281 5.9799999999999995% 11.6%;
    --muted: 281 8.299999999999999% 91.6%;
    --muted-foreground: 281 4.1499999999999995% 41.6%;
    --accent: 281 4.1499999999999995% 95.8%;
    --accent-foreground: 281 5.9799999999999995% 11.6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 281 13.299999999999999% 89.64%;
    --input: 281 13.299999999999999% 89.64%;
    --ring: 281 83% 16%;
    --radius: .75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #ddd6f3, #faaca8);
    --background: 270 35.75% 7.12%;
    --foreground: 270 5.5% 99.45%;
    --muted: 270 27.500000000000004% 26.7%;
    --muted-foreground: 270 5.5% 58.9%;
    --popover: 270 54% 11.57%;
    --popover-foreground: 270 5.5% 99.45%;
    --card: 270 54% 11.57%;
    --card-foreground: 270 5.5% 99.45%;
    --border: 270 27.500000000000004% 26.7%;
    --input: 270 27.500000000000004% 26.7%;
    --primary: 270 55% 89%;
    --primary-foreground: 270 5.5% 8.9%;
    --secondary: 270 27.500000000000004% 26.7%;
    --secondary-foreground: 270 5.5% 99.45%;
    --accent: 270 27.500000000000004% 26.7%;
    --accent-foreground: 270 5.5% 99.45%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 270 5.5% 99.45%;
    --ring: 270 55% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
