@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --radius: 0.5rem;
    --cursor-color: hsl(var(--foreground));

    --background: 40 20.0000% 97.0588%;
    --foreground: 50 11.7647% 20%;
    --card: 40 20.0000% 93.0588%;
    --card-foreground: 60 1.9608% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 51.4286 10.4478% 13.1373%;
    --primary: 14.8148 33.3333% 52.3529%;
    --primary-foreground: 0 0% 100%;
    --secondary: 51.4286 12.2807% 88.8235%;
    --secondary-foreground: 51.4286 4.5752% 30%;
    --muted: 46.6667 17.6471% 90.0000%;
    --muted-foreground: 45 1.5748% 50.1961%;
    --accent: 51.4286 12.2807% 88.8235%;
    --accent-foreground: 51.4286 10.4478% 13.1373%;
    --destructive: 10 49.9608% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 5.0000% 84.3137%;
    --input: 51.4286 4.2945% 68.0392%;
    --ring: 14.8148 33.3333% 52.3529%;
    --chart-1: 18.1579 33.9286% 43.9216%;
    --chart-2: 251.8182 50.7692% 74.5098%;
    --chart-3: 45.0000 17.3913% 81.9608%;
    --chart-4: 257.6471 28.8136% 88.4314%;
    --chart-5: 17.7778 36% 44.1176%;
    --sidebar: 48.0000 18.5185% 94.7059%;
    --sidebar-foreground: 60 0.8403% 23.3333%;
    --sidebar-primary: 14.8148 33.3333% 52.3529%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 51.4286 12.2807% 88.8235%;
    --sidebar-accent-foreground: 0 0% 20.3922%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
  }

  .dark {
    --background: 60 2.7027% 14.5098%;
    --foreground: 51.4286 5.2632% 73.9216%;
    --card: 60 2.7027% 12.5098%;
    --card-foreground: 40 20.0000% 97.0588%;
    --popover: 60 2.1277% 18.4314%;
    --popover-foreground: 60 1.8182% 89.2157%;
    --primary: 14.6154 37.8641% 59.6078%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 20.0000% 97.0588%;
    --secondary-foreground: 60 2.1277% 18.4314%;
    --muted: 60 3.8462% 10.1961%;
    --muted-foreground: 52.5000 5.0633% 69.0196%;
    --accent: 40 5.8824% 10%;
    --accent-foreground: 48.0000 18.5185% 94.7059%;
    --destructive: 0 50.7389% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 60 3.3898% 23.1373%;
    --input: 60 2.5641% 30.5882%;
    --ring: 14.6154 37.8641% 59.6078%;
    --chart-1: 18.1579 33.9286% 43.9216%;
    --chart-2: 251.8182 50.7692% 74.5098%;
    --chart-3: 40 5.8824% 10%;
    --chart-4: 247.0588 14.7826% 22.5490%;
    --chart-5: 17.7778 36% 44.1176%;
    --sidebar: 30 3.3333% 11.7647%;
    --sidebar-foreground: 51.4286 5.2632% 73.9216%;
    --sidebar-primary: 0 0% 20.3922%;
    --sidebar-primary-foreground: 0 0% 98.4314%;
    --sidebar-accent: 60 1.9608% 10%;
    --sidebar-accent-foreground: 51.4286 5.2632% 73.9216%;
    --sidebar-border: 0 0% 92.1569%;
    --sidebar-ring: 0 0% 70.9804%;
  }

  * {
    @apply border-border;
  }

  ::selection {
    @apply bg-primary text-accent;
  }

  body {
    @apply bg-background text-foreground;
  }

  .link {
    @apply text-primary font-bold hover:underline;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
